# Kconfig - MCUXpresso SDK I2C
#
# Copyright 2018, Nathan Tsoi <nathan@vertile.com>
#
# SPDX-License-Identifier: Apache-2.0

menuconfig I2C_MCUX_LPI2C
	bool "MCUX I2C driver"
	depends on HAS_MCUX
	default n
	select SERIAL_HAS_DRIVER
	help
	  Enable the MCUX I2C driver.

if I2C_MCUX_LPI2C

menuconfig I2C_MCUX_LPI2C_1
	bool "I2C 1"
	default n
	help
	  Enable I2C 1.

endif # I2C_MCUX_LPC

